/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  
}

body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  background-color: #f4f4f4;
}
/* Header */

header {
  background-color: #e60012;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  padding: 2.5em;
  margin: -1em;
}


/* Main */
main {
  display: grid;
}

.uitgelicht {
  padding: 1em;
}


.nieuws h2 {
font-size: 1.6em;
color: #333;
font-weight: 700;
}

.delen {
  position: relative;
  background-color: #333;
  color: white;
  margin-bottom: 2.2em;
  padding: 0.3em 0em 0.3em 0em;
}

.delen h2 {
  display: inline;
  font-size: 2em;
  font-weight: bold;
  margin-right: 1em;
}

.share {
  display: inline-flex;
}

.facebook, .twitter {
  position: relative;
  height: 2em;
  padding: 0.5em 1.5em 0em 0.5em;
  margin-right: 1em;
  border-radius: 0.2em;
  display: grid;
}

.facebook a, .twitter a {
  color: white;
  text-decoration: none;
  margin-left: 1em;
  grid-area: 1;
  line-height: 1em;
}

.facebook {
  background-color: #3B5998;
}

.share img {
  height: 1.5em;
  margin-top: -0.3em;
  grid-area: 1;
}

.twitter {
  background-color: #55ACEE;
}

/* Footer */

footer {
    border-radius: 0.3em 0.3em 0em;
    background-color: #e60012;
    bottom: 0;
    width: 100%;
    color: white;
    position: relative;
}

footer img {
  width: 6em;
  margin-right: 2em;
}

.footer {
  background-color: #bf0010;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.top {
  font-weight: 600;
}

.footer ul {
  padding: 1.5em 1.5em 0em 1.85em;
  list-style-type:none;
}

.footer li {
  display: inline;
}

.footer .top li {
  font-size: 1rem;
  display: inline;
  margin-right: 2em;
}

.footer .bot {
  padding: 0em 1.5em 0em 1.85em;
  font-size: 1em;
}

.footer .bot a {
  margin-right: 1.5em;
}

.land {
  background-color: #99000d;
  margin-bottom: -1em;
  padding-bottom: 1em;
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type:none;
}

.grid-item {
  margin: 0em 0em 1em 0em;
}

.grid-item:hover {
  text-decoration: underline;
}

hr {
  color: #e60012;
  width: 95%;
  margin: auto auto 2em;
}

h2 {
  font-weight: normal;
  padding: 1em 0em 0em 1.7em;  
}

footer .head {
  margin: 0em 0em -1em 0em;
  padding: 0.7em 0em 0.5em 2em;
}

footer .head .top {
  position: absolute;
  right: 1.5em;
  top: 0em;
  background: white;
  text-decoration: none;
  padding: 0.15em 0.35em 0.15em 0.35em;
  border-radius: 0em 0em 0.3em 0.3em;
  box-shadow: .5px 3px 2px -2px #333;
  color: #e60012;
  font-weight: bold;
  font-size: 1em;
}

footer p {
  text-align: end;
  margin-right: 1.5em;
  padding-bottom: 0.5em;
}

.knop {
  background-color: #99000d;
  position: absolute;
  padding: 0em 1em 0.3em 1em;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.knop img {
  width: 1em;
  margin: auto auto auto 0.5em;
}

.top img {
  width: 1em;
  margin: auto;
}

/* End footer */