/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  
}

body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  background-color: #f4f4f4;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background: #e60012;
}

/* Header */

header {
  background-color: #e60012;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2em;
  margin: -1em;
}

header nav {
  margin-left: 0.75em;
}

header nav img {
  width: 8em;
  margin: -1em;
  padding: 0em;
}

.search {
  transform: rotate(90deg);
  padding: 1em 0em 0em 0em;
  margin-top: -0.6em;
}

header nav div {
  position: absolute;
  display: inline;
  right: 0;
}

.cart {
  margin: 0em 0em -0.4em 0em;
}

header a {
  text-decoration: none;
  color: white;
}

header a:last-child {
  margin-right: 0.5em;
}

.login {
  padding: 0em 0em 0.5em 0em;
  margin-left: 0.1em;
  margin-right: 0.8em;
}

header nav div a img {
  width: 2em;
}

header hr {
  margin: 0em 1em 0em 1em;
  border-color: white;
  display: inline;
  padding: 0.5em 0em 0.5em 0em;
}

/*https://codepen.io/LantareCode/pen/dOXmBJ*/
.mario {
  position: absolute;
  width: 4em;
  height: 4.4em;
  background: url("../images/mario.png");
  margin-top: -1.5em;
  /*steps wordt gebruikt om het te laten lopen, het is een afbeelding met 4 kleinere afbeeldingen erin waardoor het systeem heen tappt*/
  animation: play 0.8s steps(4) infinite, run 4s both infinite linear;
}
@keyframes play{
  100%{background-position: 17.75em;}
}

@keyframes run{
  from{left: 10em;}
  to{left: 69%;}
}



/* Main */
main nav {
  height: 100%;
  position: fixed;
  margin-left: -1em;
  background: #bf0010;
  z-index: 1;
}

main nav ul li {
  text-decoration: none;
  list-style: none;
  font-size: 80%;
  padding: 1em 0em 1em 0.5em;
  background-color: #e60012;
  text-align: center;
  margin-left: -7em;
  width: 7em;
  margin-top: 0.1em;
}

main nav ul li a {
  color: white;
  text-decoration: none;
  width: 6em;
  display: block;
}

main nav ul {
  margin: 4.2em 0em 0em 3.6em;
  background: #bf0010;
  width: max-content;
}
main nav ul li:last-child{
  background-color: #bf0010;;
}

main nav ul li:last-child a img{
  background: white;
  padding: 0.8em 0.5em 0.8em 0.5em;
  border-radius: 0.3em 0.3em 0em 0em;
  position: absolute;
  bottom: 0;
  margin-left: 2em;
  width: 2em;
}

main nav ul li img {
  width: 2.5em;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
}

.uitgelicht {
  padding: 4.5em 0em 0em 5.4em;
  width: 69%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 0fr);
  grid-column-gap: 0.2em;
  grid-row-gap: 0.2em; 
}

.uitgelicht a img {
  border-radius: 0.2em;
}
/* https://www.sitepoint.com/css-grid-generators/ 
https://cssgrid-generator.netlify.app/ */
.div1 { grid-area: 10 / 1 / 11 / 4; }
.div2 { grid-area: 9 / 2 / 10 / 4; }
.div3 { grid-area: 8 / 1 / 10 / 2; }
.div4 { grid-area: 8 / 2 / 9 / 3; }
.div5 { grid-area: 8 / 3 / 9 / 4; }
.div6 { grid-area: 7 / 2 / 8 / 4; }
.div7 { grid-area: 6 / 1 / 8 / 2; }
.div8 { grid-area: 6 / 2 / 7 / 3; }
.div9 { grid-area: 6 / 3 / 7 / 4; }
.div10 { grid-area: 4 / 1 / 5 / 3; }
.div11 { grid-area: 3 / 3 / 5 / 4; }
.div12 { grid-area: 3 / 2 / 4 / 3; }
.div13 { grid-area: 3 / 1 / 4 / 2; }
.div14 { grid-area: 2 / 1 / 3 / 3; }
.div15 { grid-area: 1 / 3 / 3 / 4; }
.div16 { grid-area: 1 / 2 / 2 / 3; }
.div17 { grid-area: 1 / 1 / 2 / 2; }
.div18 { grid-area: 5 / 1 / 6 / 2; }
.div19 { grid-area: 5 / 3 / 6 / 4; } 
.div20 { grid-area: 5 / 2 / 6 / 2;}

main section a img {
  width: 100%;
  height: 100%;
}

.nieuws {
  position: absolute;
  top: 0;
  right: 0;
  width: 30.5%;
  margin-top: 2em;
}

.nieuws ul li {
  text-decoration: none;
  list-style: none;
  background-color: white;
  margin-bottom: 0.3em;
}

.nieuws h2 {
  font-size: 1em;
  color: #333;
  font-weight: 700;
  padding: 0.5em;
  background-color: white;
  margin-top: 3em;
  margin-bottom: -0.4em;
  border-left: #f4f4f4 solid 4px;
}

.nieuws ul {
  padding: 0em;
}

.nieuws .artikel div {
  margin-left: 0.5em;
}

.nieuws ul li a {
  text-decoration: none;
  color: #333;
}

.nieuws ul li a img {
  margin: auto;
  width: auto;
  height: auto;  
  max-width: 10em;
}

.data {
  font-size: 0.6em;
}

.text {
  font-size: 0.8em;
}

.nieuws .artikel {
  display: flex;
  padding: 0.5em;
}

.nieuws ul li h3 {
  font-weight: 700;
  font-size: 1em;
  color: #333;
}

.delen {
  position: relative;
  background-color: #333;
  color: white;
  margin: 2.2em 0em 2.2em 5.4em;
  padding: 0.8em 0em 0.8em 0em;  
}

.delen h2 {
  display: inline;
  font-size: 2em;
  font-weight: bold;
  margin-right: 1em;
}

.share {
  display: inline-flex;
}

.facebook, .twitter {
  position: relative;
  height: 2em;
  padding: 0.5em 1.5em 0em 0.5em;
  margin-right: 1em;
  border-radius: 0.2em;
  display: grid;
}

.facebook a, .twitter a {
  color: white;
  text-decoration: none;
  margin-left: 1em;
  grid-area: 1;
  line-height: 1em;
}

.facebook {
  background-color: #3B5998;
}

.share img {
  height: 1.5em;
  margin-top: -0.3em;
  grid-area: 1;
}

.twitter {
  background-color: #55ACEE;
}

/* Footer */

footer {
    border-radius: 0.3em 0.3em 0em;
    background-color: #e60012;
    bottom: 0;
    color: white;
    position: relative;
    margin-left: 5.4em;
}

footer img {
  width: 6em;
  margin-right: 2em;
}

.footer {
  background-color: #bf0010;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.top {
  font-weight: 600;
}

.footer ul {
  padding: 1.5em 1.5em 0em 1.85em;
  list-style-type:none;
}

.footer li {
  display: inline;
}

.footer .top li {
  font-size: 1rem;
  display: inline;
  margin-right: 2em;
}

.footer .bot {
  padding: 0em 1.5em 0em 1.85em;
  font-size: 1em;
}

.footer .bot a {
  margin-right: 1.5em;
}

.land {
  background-color: #99000d;
  margin-bottom: -1em;
  padding-bottom: 1em;
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type:none;
}

.grid-item {
  margin: 0em 0em 1em 0em;
}

.grid-item:hover {
  text-decoration: underline;
}

hr {
  color: #e60012;
  width: 95%;
  margin: auto auto 2em;
}

h2 {
  font-weight: normal;
  padding: 1em 0em 0em 1.7em;  
}

footer .head {
  margin: 0em 0em -1em 0em;
  padding: 0.7em 0em 0.5em 2em;
}

footer .head .top {
  position: absolute;
  right: 1.5em;
  top: 0em;
  background: white;
  text-decoration: none;
  padding: 0.15em 0.35em 0.15em 0.35em;
  border-radius: 0em 0em 0.3em 0.3em;
  box-shadow: .5px 3px 2px -2px #333;
  color: #e60012;
  font-weight: bold;
  font-size: 1em;
}

footer p {
  text-align: end;
  margin-right: 1.5em;
  padding-bottom: 0.5em;
}

.knop {
  background-color: #99000d;
  position: absolute;
  padding: 0em 1em 0.3em 1em;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.knop img {
  width: 1em;
  margin: auto auto auto 0.5em;
}

.top img {
  width: 1em;
  margin: auto;
}

/* End footer */

/* Media Querie */
@media (max-width: 60em) {
.uitgelicht {
  width: 100%;
}

.nieuws {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  margin-left: 5.5em;
}

.nieuws h2 {
  margin-top: 0;
}

.nieuws ul li a img {
  margin: 0;
}

}

@media (max-width: 48em) {

  main nav {
    display: none;
  }

  .uitgelicht {
    padding: 4.5em 0em 0em 0em;
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em; 
    grid-template-columns: none;
    grid-template-rows: none;
    display: block;
    margin: 0em;
  }
  
  .nieuws {
    margin-left: 0;
  }

  .mario {
    display: none;
  }

  .delen {
    margin-left: 0;
  }

  footer {
    margin: 0;
  }
}